@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
$navbar-height: 6rem;
$mobile-nav-width: 20rem;
$navbar-background: linear-gradient(180deg, rgba(77, 2, 96, 0.8) 0%, rgba(39, 0, 0, 0.8) 100%), #4D0260;
$button-bg-color_1: #083A1F;
$button-bg-color_2: #FFCE61;
$transition: .3s;
$body-section-right--inner-padding: .5rem;
$tables-nav-height: 5rem;
$sidebar-button-size: 3rem;
$open-sidebar-width: 20rem;
@mixin font-noto_sans($font-weight, $font-size, $color){
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}
@mixin font-inter($font-weight, $font-size, $color){
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}
@mixin main-nav-button{
    width: 9rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid $button-bg-color_2;
    background-color: $button-bg-color_1;
    cursor: pointer;
    transition: $transition;
    @include font-noto_sans(500, 1rem, #fff);
    border-radius: .3rem;
    &:hover{
        color: $button-bg-color_1;
        background-color: $button-bg-color_2;
    }
}
@mixin tool-button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #010101;
    border: .1rem solid #333232;
    cursor: pointer;
    img{
        width: 1.3rem;
        height: 1.3rem;
    }
    i{
        color: #fff;
        font-size: 1.3rem;
    }
}
@mixin sidebar-button{
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    background: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition;
    cursor: pointer;
    border: none;
    div{
        width: 3rem;
        min-width: 3rem;
        margin: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color: #fff;
            transition: $transition;
            font-size:1.5rem;
            margin: 0 1.5rem;
        }
    }
    span{
        display: none;
        margin-left: 1rem;
        @include font-noto_sans(600, 1.3rem, #fff);
        transition: $transition;
    }
    &:hover{
        filter: grayscale(0%) opacity(1);
        div{
            i{
                color: #fff;
            }
        }
        span{
            color: #fff;
        }
    }
}
@mixin radio-button($size){
    width: $size;
    height: $size;
    background: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
    border: none;
    i{
        font-size: $size - .8rem;
        transition: $transition;
    }
    &:hover{
        background-color: #fff;
        i{
            color: #000;
        }
    }
}
@mixin scrollbar{
    &::-webkit-scrollbar {
        width: .8rem;
        background-color: rgb(1, 52, 1);
        border-radius: 1rem;
        margin-left: 1rem;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #E6B424;
        border-radius: 1rem;
        margin-left: 1rem;
    }
}
@mixin tables-navbar_plus-button{
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .3rem .4rem;
    border-radius: .4rem;
    i{
        font-size: 1.2rem;
        color: rgb(118,69,0);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // gap: .5rem;
    background-image: url(../assets/images/bg\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    .navbar-section{
        width: 100%;
        nav{
            // background: linear-gradient(180deg, #38173C 0%, #48064F 100%);
            background-color: #011D0E;
            // background-color: #540286;
            position: relative;
            width: 100%;
            height: $navbar-height;
            display: flex;
            // justify-content: space-between;
            justify-content: center;
            align-items: center;
            padding: 0 .2rem;
            // padding: .4rem .5rem;
            // background: $navbar-background;
            // border: .01rem solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            .mobile-nav{
                // display: none;
                position: fixed;
                top: $navbar-height;
                left: -$mobile-nav-width;
                background: linear-gradient(153.63deg, rgb(56, 30, 57) -1.05%, #381E39 -1.04%, rgb(60, 13, 54) 97.9%);
                width: $mobile-nav-width;
                height: 100%;
                transition: $transition;
                padding: 0 1.5rem;
                &__box{
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    button{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        background: none;
                        border: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.65);
                        padding: 1rem 0;
                        cursor: pointer;
                        @include font-noto_sans(500, 1rem, #fff);
                        transition: $transition;
                        i{
                            font-size: 2rem;
                            color: #fff;
                        }
                        img{
                            width: 2rem;
                            height: 2rem;
                        }
                        &:hover{
                            background-color: rgba(56, 30, 57, .9);
                        }
                    }
                }
            }
            .navbar-left{
                display: flex;
                // justify-content: space-between;
                align-items: center;
                height: 100%;
                flex: 1;
                justify-content: space-between;
                // width: 100%;
                // gap: 4rem;
                // background-image: url(../assets/images/navbar_left.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: left;
                // background-attachment: fixed;
                // background-repeat: no-repeat;
                .menu-bar-box{
                    // height: 100%;
                    // width: $navbar-height;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // background-color: #fff;
                    .menu-bar{
                        padding: 1rem;
                        margin-left: .7rem;
                        // background-color: red;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.313rem;
                        cursor: pointer;
                        .bar{
                            border-radius: 1rem;
                            width: 2.188rem;
                            height: 0.25rem;
                            background-color: #fff;
                            transition: $transition;
                        }
                    }
                }
                &__profile-section{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &--top{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        figure{
                            position: relative;
                            width: 3rem;
                            height: 3rem;
                            .profile-notifications{
                                position: absolute;
                                top: 0.1rem;
                                right: 0.1rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: .7rem;
                                height: .7rem;
                                border-radius: 50%;
                                background-color: red;
                                @include font-noto_sans(400, .6rem, #fff)
                            }
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .buy-chip-button{
                            @include tables-navbar_plus-button();
                        }
                        #golden-coin{

                        }
                        .money-amount{
                            @include font-noto_sans(500, 1.7rem, #FFCE61);
                        }
                    }
                }
                // .my-money{
                //     display: flex;
                //     align-items: center;
                //     gap: .3rem;
                //     .buy-chip{
                //         display: flex;
                //         align-items: center;
                //         .plus-button{
                //             cursor: pointer;
                //             background-color: #000;
                //             border: none;
                //             width: 2.3rem;
                //             height: 1.7rem;
                //             display: flex;
                //             align-items: center;
                //             justify-content: center;
                //             img{
                //                 width: 1.1rem;
                //                 height: 1.1rem;
                //             }
                //         }
                //         .money-button{
                //             cursor: pointer;
                //             position: relative;
                //             width: 2.3rem;
                //             height: 2.3rem;
                //             border: none;
                //             border-radius: 50%;
                //             transform: translateX(-.3rem);
                //             background-color: $button-bg-color_2;
                //             i{
                //                 font-size: 1.3rem;
                //                 color: #7ADC8A;
                //             }
                //             .chip-notifications{
                //                 position: absolute;
                //                 top: 0;
                //                 right: 0rem;
                //                 @include font-noto_sans(400, .7rem, #fff);
                //                 width: .8rem;
                //                 height: .8rem;
                //                 display: flex;
                //                 align-items: center;
                //                 justify-content: center;
                //                 background-color: red;
                //                 border-radius: 50%;
                //             }
                //         }
                //     }
                //     .available-money{
                //         @include font-noto_sans(400, 1.6rem, #fff);
                //     }
                // }
                // .cards{
                //     display: flex;
                //     align-items: center;
                //     gap: .3rem;
                //     margin-right: 1rem;
                //     .card-window{
                //         width: 2.5rem;
                //         height: 2.5rem;
                //     }
                //     .card-numbers{
                //         @include font-noto_sans(400, 1.6rem, #fff);
                //     }
                // }
                // &__buttons{
                //     display: flex;
                //     align-items: center;
                //     gap: 1rem;
                //     button{
                //         @include main-nav-button();
                //         i{
                //             display: none;
                //         }
                //     }
                // }
            }
            .logo{
                padding: 0 .5rem;
                img{
                    height: $navbar-height;
                }
            }
            .navbar-right{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                flex: 1;
                // gap: 1rem;
                // background-image: url(../assets/images/navbar_right.png);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                // .chance-game-box{
                //     display: flex;
                //     align-items: center;
                //     justify-content: space-between;
                //     height: 100%;
                //     // gap: .3rem;
                //     margin-left: 1rem;
                //     .give-chance-button{
                //         width: 8.5rem;
                //         height: 3rem;
                //         // border-radius: 50%;
                //         cursor: pointer;
                //         padding: .3rem 0;
                //         border: none;
                //         background-color: #E6B424;
                //         box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
                //         border-radius: 58px;
                //         display: flex;
                //         align-items: center;
                //         justify-content: center;
                //         span{
                //             @include font-noto_sans(400, 1.25rem, #3C2C00);
                //             // display: none;
                //         }
                //         i{
                //             display: none;
                //             font-size: 1.3rem;
                //             color: #fff;
                //         }
                //     }
                // }
                // .chance-game{
                //     background-color: rgba(0, 0, 0, 0.74);
                //     border-radius: 3rem;
                //     width: 9rem;
                //     height: 3rem;
                //     display: none;
                //     align-items: center;
                //     justify-content: center;
                //     padding: .2rem .8rem;
                //     border: .1rem solid #2B2D2C;
                //     &__window{
                //         background-color: rgba(47, 47, 47, 0.74);
                //         display: flex;
                //         height: 100%;
                //         align-items: center;
                //         justify-content: center;
                //         width: 100%;
                //         border-radius: 1rem;
                //         .chance-num{
                //             @include font-noto_sans(400, 1.6rem, #fff);
                //             display: flex;
                //             align-items: center;
                //             justify-content: center;
                //             height: 100%;
                //             &-5{
                //                 background-color: #E6B424;
                //             }
                //             &-6{
                //                 background-color: #E6B424;
                //             }
                //         }
                //     }
                // }
                .hourly-money-button{
                    width: 5rem;
                    height: 3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background: none;
                    background-color: #DD034D;
                    border-radius: .8rem;
                    padding: .1rem;
                    cursor: pointer;
                    margin-left: 1rem;
                    box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
                    .first-word{
                        @include font-noto_sans(400, .6rem, #fff);
                    }
                    .second-word{
                        @include font-noto_sans(400, .9rem, #fff);
                    }
                    .third-word{
                        @include font-noto_sans(400, .5rem, #fff);
                    }
                    i{
                        display: none;
                    }
                }
                .vip-membership-button{
                    width: 8rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    background-color: #E6B424;
                    border-radius: 2rem;
                    border: none;
                    cursor: pointer;
                    color: #3C2C00;
                    box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
                    i{
                        display: none;
                    }
                }
                .tool-box{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-right: 1.5rem;
                    .maximize-button{
                        @include tool-button();
                    }
                    .messages-button{
                        @include tool-button();
                    }
                    .settings-button{
                        @include tool-button();
                    }
                }
            }
        }
    }
    .body-section{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        // padding: 1rem;
        .sidebar-desktop{
            z-index: 2;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow-y: auto;
            overflow-x: hidden;
            background: linear-gradient(153.63deg, #013A17 11.99%, rgba(0, 117, 40, 1) 97.9%);
            width: $navbar-height;
            transition: $transition;
            // position: relative;
            // .exit-sidebar-button{
            //     display: none;
            //     align-items: center;
            //     justify-content: center;
            //     background: none;
            //     // background-color: red;
            //     color: #fff;
            //     width: 3rem;
            //     height: 3rem;
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     border: none;
            //     cursor: pointer;
            //     i{
            //         font-size: 1.5rem;
            //     }
            // }
            .sidebar-top{
                background-color: #013917;
                display: none;
                border: 0.063rem solid #16813B;
            }
            .button-content-wrapper{
                width: 100%;
                height: 4.5rem;
            }
            .button-content-wrapper:not(:first-child){
                border-bottom: 0.063rem solid rgba(255, 255, 255, 0.65);
            }
            .full-space{
                display: none;
            }
            .button-content-wrapper:last-child{
                margin-top: auto;
                // flex: 1
            }
            .sidebar-desktop--button{
                @include sidebar-button();
            }
            &.open{
                // .exit-sidebar-button{
                //     display: flex;
                // }
                width: $open-sidebar-width;
                .sidebar-top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 1.5rem;
                    .sidebar-name{
                        @include font-noto_sans(500, 1.7rem, #FFCE61);
                    }
                    .sidebar-exit-button{
                        border: none;
                        background: none;
                        color: #FFCE61;
                        cursor: pointer;
                        width: 2rem;
                        height: 2rem;
                        font-size: 1.2rem;
                    }
                }
                button{
                    span{
                        display: flex;
                        white-space: nowrap;
                        color: #fff;
                    }
                }
                .full-space{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .4rem;
                        background-color: rgba(8, 72, 175, 0.8);
                        box-shadow: inset -4px -4px 2px rgba(59, 44, 0, 0.4);
                        border: none;
                        width: 9rem;
                        height: 3rem;
                        border-radius: 3rem;
                        cursor: pointer;
                        i{
                            color: #fff;
                            font-size: 1.3rem;
                        }
                        span{
                            @include font-noto_sans(300, 1.1rem, #fff);
                        }
                    }
                }
            }
        }
        &__left{
            gap: .5rem;
            // width: 53rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // flex-grow: 1;
            flex-basis: 75%;
            margin-left: $navbar-height + .4rem;
            transition: $transition;
            .tables-container{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                position: relative;
                .tables-nav{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $tables-nav-height;
                    display: flex;
                    flex-direction: column;
                    box-shadow: -3px 34px 32px -24px rgba(0,0,0,0.82);
                    -webkit-box-shadow: -3px 34px 32px -24px rgba(0,0,0,0.82);
                    -moz-box-shadow: -3px 34px 32px -24px rgba(0,0,0,0.82);
                    &__top{
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                        display: flex;
                        justify-content: flex-end;
                        padding: .3rem 0;
                        .player-number{
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            &__name{
                                @include font-noto_sans(600, 1.1rem, rgba(255,255,255,.5));
                            }
                            &__number{
                                @include font-noto_sans(600, 1.2rem, #fff);
                            }
                        }
                    }
                    &__bottom{
                        display: flex;
                        align-items: center;
                        &--tools{
                            // border: .2rem solid #000;
                            display: flex;
                            // align-items: center;
                            flex: 1;
                            height: 2.4rem;
                            padding: .1rem .2rem;
                            .table-nav-buttons{
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                .halls-button{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: .2rem;
                                    height: 100%;
                                    width: 7rem;
                                    border-radius: .5rem;
                                    border: none;
                                    cursor: pointer;
                                    color: #fff;
                                    background: linear-gradient(rgb(64,127,89),rgb(18,91,47));
                                    i{
                                        font-size: .8rem;
                                    }
                                    span{
                                        @include font-noto_sans(600, .8rem, #fff);
                                    }
                                }
                                .arrow-button{
                                    height: 100%;
                                    background: none;
                                    display: flex;
                                    align-items: center;
                                    border: none;
                                    cursor: pointer;
                                    i{
                                        font-size: 2rem;
                                        color: rgb(233,197,124);
                                    }
                                }
                                .play-now-button{
                                    @include tables-navbar_plus-button();
                                    display: none;
                                }
                                .open-table-button{
                                    @include tables-navbar_plus-button();
                                    display: none;
                                }
                            }
                        }
                        &--space{
                            width: 3rem;
                            height: 100%;
                        }
                    }
                }
                .tables{
                    flex: 1;
                    display: grid;
                    grid-template-columns: repeat(3, 20rem);
                    grid-auto-rows: 12rem;
                    overflow-y: auto;
                    justify-content: center;
                    gap: .5rem;
                    border-radius: .6rem;
                    margin: $tables-nav-height + .5rem .2rem .2rem .2rem;
                    padding: 1rem;
                    @include scrollbar();
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    .table{
                        position: relative;
                        // background: linear-gradient(168.51deg, rgba(41, 110, 55, 0.86) 58.79%, rgba(27, 84, 41, 0) 92.44%);
                        background: linear-gradient(rgb(23,70,34), rgb(92,175,113));
                        // border: .1rem solid #FFCE61;
                        // box-shadow: 0px 4px 11px 2px rgba(255, 206, 97, 0.35);
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                        border-radius: .6rem;
                        background: linear-gradient(336.61deg, rgba(16, 82, 33, 0.2) 23.74%, rgba(255, 255, 255, 0.144) 46.62%), linear-gradient(121.8deg, #174B24 4.58%, rgba(11, 124, 37, 0.56) 38.72%, rgba(63, 153, 85, 0.74) 96.68%);
                        border: 1px solid #007A22;
                        box-shadow: 0px 4px 11px 2px #134625;
                        border-radius: .6rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &-num{
                            z-index: 1;
                            position: absolute;
                            top: .5rem;
                            left: .5rem;
                            @include font-noto_sans(700, 1rem, $button-bg-color_2);
                        }
                        .info{
                            z-index: 1;
                            position: absolute;
                            top: .5rem;
                            right: .5rem;
                            display: flex;
                            flex-direction: column;
                            gap: .3rem;
                            .bet-info, .pot-info{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                .bet, .pot{
                                    @include font-noto_sans(600, .9rem, rgb(114,152,130));
                                }
                                .bet-amount, .pot-amount{
                                    @include font-noto_sans(600, 1rem, #fff);
                                }
                            }
                        }
                        .one-on-one-button{
                            z-index: 1;
                            position: absolute;
                            bottom: .5rem;
                            right: .5rem;
                            display: flex;
                            align-items: center;
                            gap: .2rem;
                            background: none;
                            border: none;
                            cursor: pointer;
                            @include font-noto_sans(700, 1rem, $button-bg-color_2);
                            img{
                                height: 1.5rem;
                            }
                            div{
                                display: flex;
                                flex-direction: column;
                                span:first-child{
                                    font-size: .66rem;
                                }
                            }
                        }
                        .gamer{
                            // position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            figcaption{
                                @include font-noto_sans(400, .8rem, #fff);
                            }
                            img{
                                width: 4rem;
                                height: 4rem;
                            }
                            // &.gamer-1, &.gamer-3{
                            //     width: 100%;
                            //     left: 0;
                            // }
                            // &.gamer-1{
                            //     top: .5rem;
                            // }
                            // &.gamer-3{
                            //     bottom: .5rem;
                            // }
                            // &.gamer-2{
                            //     left: 4rem;
                            //     height: 100%;
                            //     top: 0;
                            // }
                        }
                        .sit{
                            // position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            // right: 4rem;
                            // top: 0;
                            &__button{
                                width: 3.7rem;
                                height: 3rem;
                                margin-bottom: 1rem;
                                @include font-noto_sans(700, 1rem, rgb(145,96,1));
                                letter-spacing: 0;
                                border: none;
                                cursor: pointer;
                                background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: .3rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .chatting{
                height: 10rem;
                display: flex;
                width: 62rem;
                flex-direction: column;
                .tab-box{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    .tab{
                        display: flex;
                        .masa-chat-button, .lobi-chat-button{
                            @include font-noto_sans(600, 1rem, #000);
                            border: none;
                            padding: .3rem 1rem;
                            background-color: #D7970A;
                            border-radius: .5rem .5rem 0 0;
                            cursor: pointer;
                            &.active{
                                background-color: $button-bg-color_2;
                            }
                        }
                    }
                    .tabcontent{
                        display: none;
                        padding: .5rem;
                        background-color: #011D0E;
                        border-radius: .4rem .4rem .4rem 0;
                        &.active{
                            display: flex;
                            flex-direction: column;
                            gap: .2rem;
                            flex: 1;
                        }
                        .message{
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            .name{
                                display: flex;
                                align-items: center;
                                gap: .4rem;
                                img{
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    margin-top: .2rem;
                                }
                                span{
                                    @include font-noto_sans(400, 1rem, $button-bg-color_2);
                                }
                            }
                            .word{
                                @include font-noto_sans(200, .8re, #fff);
                            }
                        }
                    }
                }
                .message-box{
                    position: relative;
                    height: 2rem;
                    input{
                        width: 100%;
                        height: 100%;
                        padding-left: 2.2rem;
                        outline: none;
                        border: none;
                    }
                    .emojis-box{
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        .emoji-button{
                            height: 100%;
                            width: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            background: none;
                            cursor: pointer;
                            background-color: #D9D9D9;
                            img{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                    .send{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        &-button{
                            @include main-nav-button();
                            height: 100%;
                            width: 6rem;
                        }
                    }
                }
            }
        }
        &__right{
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .people-tools{
                &__radio{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $button-bg-color_2;
                    padding: .1rem $body-section-right--inner-padding;
                    &--buttons{
                        display: flex;
                        gap: .7rem;
                        .play{
                            .play-button{
                                @include radio-button(2rem);
                            }
                        }
                        .prev-next{
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                            .prev-button{
                                @include radio-button(1.5rem);
                            }
                            .next-button{
                                @include radio-button(1.5rem);
                            }
                        }
                    }
                    &--channel-name{
                        @include font-inter(400, .8rem, #fff);
                        width: 9rem;
                        height: 2rem;
                        border-radius: .5rem;
                        background-color: #4D3900;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }
                }
                &__category{
                    padding: .1rem $body-section-right--inner-padding;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .your-friends, .last-played{
                        flex-basis: 50%;
                        background: none;
                        border: none;
                        cursor: pointer;
                        @include font-inter(400, .9rem, #5C5C5C);
                        text-align: left;
                        &.active{
                            color: #fff;
                        }
                    }
                }
                &__header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .2rem;
                    .player{
                        flex-basis: 52%;
                        background-color: #1D4634;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include font-inter(400, 1rem, #fff);
                        border-radius: .4rem;
                        height: 2rem;
                    }
                    .table{
                        flex: 1;
                        background-color: #1D4634;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include font-inter(400, 1rem, #fff);
                        border-radius: .4rem;
                        height: 2rem;
                    }
                }
            }
            .people{
                @include scrollbar();
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                .person{
                    display: flex;
                    align-items: center;
                    padding: .2rem $body-section-right--inner-padding;
                    border-radius: .3rem;
                    background-color: #052B16;
                    border: 0.4px solid rgba(255, 255, 255, 0.52);
                    &__info{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        flex-basis: 52%;
                        &--img{
                            display: flex;
                            align-items: center;
                            padding-top: .25rem;
                            img{
                                width: 2rem;
                                height: 2rem;
                                display: block;
                            }
                        }
                        &--text{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            &-name{
                                @include font-inter(500, 1rem, #fff);
                            }
                            &-money{
                                @include font-inter(500, .7rem, $button-bg-color_2);
                            }
                        }
                    }
                    &__table{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include font-inter(500, 1rem, #fff);
                    }
                }
            }
        }
    }  
}
@media only screen and (max-width: 1230px){
    main .navbar-section nav .navbar-right .chance-game-box .give-chance-button{
        width: 3rem;
        height: 3rem;
        span{
            display: none;
        }
        i{
            display: inline;
        }
    }
    main .navbar-section nav .navbar-left .my-money{
        flex-direction: column;
    }
    main .navbar-section nav .navbar-left .my-money .available-money{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1180px){
    main .body-section__left .tables-container .tables{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 1090px){
    :root{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1035px){
    main .navbar-section nav .navbar-left .cards{
        flex-direction: column;
    }
    main .navbar-section nav .navbar-left .cards .card-numbers{
        font-size: 1.1rem
    }
}
@media only screen and (max-width: 980px){
    main .navbar-section nav .navbar-right .hourly-money-button{
        width: 3rem;
        border-radius: 50%;
        .first-word, .second-word, .third-word{
            display: none;
        }
        i{
            display: inline;
            font-size: 1.3rem;
        }
    }
    main .navbar-section nav .navbar-right .vip-membership-button{
        width: 3rem;
        border-radius: 50%;
        span{
            display: none;
        }
        i{
            display: inline;
            font-size: 1.3rem;
        }
    }
}
@media only screen and (max-width: 920px){
    :root{
        font-size: 14px;
    }
}
@media only screen and (max-width: 870px){
    :root{
        font-size: 13px;
    }
}
@media only screen and (max-width: 800px){
    main .body-section__left .tables-container .tables{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 800px){
    :root{
        font-size: 12px;
    }
    main .body-section__left .tables-container .tables .table-num{
        font-size: 1.3rem;
    }
    main .body-section__left .tables-container .tables .table .sit__button{
        width: 4.5rem;
        height: 1.9rem;
        font-size: 1.2rem;
    }
    main .body-section__left .tables-container .tables .table .gamer img{
        width: 5rem;
        height: 5rem;
    }
    main .body-section__left .tables-container .tables .table .gamer figcaption{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 690px){
    :root{
        font-size: 11px;
    }
}
@media only screen and (max-width: 595px){
    :root{
        font-size: 10px;
    }
}
@media only screen and (max-width: 595px){
    :root{
        font-size: 9px;
    }
}
@media only screen and (max-width: 450px){
    :root{
        font-size: 8px;
    }
}
@media only screen and (max-width: 425px){
    :root{
        font-size: 7px;
    }
}
// @media only screen and (max-width: 1335px){
//     main .navbar-section nav .navbar-left__top{
//         justify-content: space-between;
//         gap: initial;
//     }
// }
// @media only screen and (max-width: 1130px){
//     :root{
//         font-size: 15px;
//     }
// }
// @media only screen and (max-width: 1060px){
//     :root{
//         font-size: 14px;
//     }
// }
// @media only screen and (max-width: 990px){
//     :root{
//         font-size: 13px;
//     }
//     main .navbar-section nav .navbar-left__top figure{
//         display: none;
//     }
//     main .navbar-section nav .navbar-left__top .buy-chip{
//         display: none;
//     }
//     main .navbar-section nav .navbar-left__top .card-window{
//         display: none;
//     }
//     main .navbar-section nav .navbar-left__top .card-numbers{
//         display: none;
//     }
//     main .navbar-section nav .navbar-left__top{
//         justify-content: center;
//     }
//     main .navbar-section nav .navbar-left__bottom{
//         justify-content: space-between;
//         .menu-bar{
//             display: flex;
//         }
//     }
//     main .navbar-section nav .navbar-right__top .tool-box .settings-button{
//         display: none;
//     }
// }
// @media only screen and (max-width: 915px){
//     :root{
//         font-size: 12px;
//     }
// }
// @media only screen and (max-width: 845px){
//     main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button{
//         width: 3rem;
//         height: 3rem;
//         border-radius: 50%;
//         padding: 0;
//         span{
//             display: none;
//         }
//         i{
//             display: inline;
//         }
//     }
// }
// @media only screen and (max-width: 805px){
//     main .navbar-section nav .navbar-left__bottom--buttons button{
//         width: 3rem;
//         height: 3rem;
//         border-radius: 50%;
//         span{
//             display: none;
//         }
//         i{
//             display: inline;
//         }
//     }
//     main .navbar-section nav .navbar-right__bottom{
//         button{
//             &.open-table, &.play-now{
//                 width: 3rem;
//                 height: 3rem;
//                 border-radius: 50%;
//             }
//             span{
//                 display: none;
//             }
//         }
//     }
//     main .navbar-section nav .navbar-right__bottom .open-table i{
//         display: inline;
//         font-size: 2rem;
//     }
//     main .navbar-section nav .navbar-right__bottom .play-now i{
//         display: inline;
//         font-size: 1.8rem;
//     }
// }
// @media only screen and (max-width: 720px){
//     :root{
//         font-size: 11px;
//     }
// }
// @media only screen and (max-width: 650px){
//     :root{
//         font-size: 10px;
//     }
// }
// @media only screen and (max-width: 585px){
//     :root{
//         font-size: 9px;
//     }
// }
// @media only screen and (max-width: 530px){
//     :root{
//         font-size: 8px;
//     }
// }
// @media only screen and (max-width: 470px){
//     :root{
//         font-size: 7px;
//     }
// }
// @media only screen and (max-width: 415px){
//     :root{
//         font-size: 6px;
//     }
// }
// @media only screen and (max-width: 355px){
//     :root{
//         font-size: 5px;
//     }
// }