@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/bg\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .navbar-section {
  width: 100%;
}
main .navbar-section nav {
  background-color: #011D0E;
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
main .navbar-section nav .mobile-nav {
  position: fixed;
  top: 6rem;
  left: -20rem;
  background: linear-gradient(153.63deg, rgb(56, 30, 57) -1.05%, #381E39 -1.04%, rgb(60, 13, 54) 97.9%);
  width: 20rem;
  height: 100%;
  transition: 0.3s;
  padding: 0 1.5rem;
}
main .navbar-section nav .mobile-nav__box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .navbar-section nav .mobile-nav__box button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  transition: 0.3s;
}
main .navbar-section nav .mobile-nav__box button i {
  font-size: 2rem;
  color: #fff;
}
main .navbar-section nav .mobile-nav__box button img {
  width: 2rem;
  height: 2rem;
}
main .navbar-section nav .mobile-nav__box button:hover {
  background-color: rgba(56, 30, 57, 0.9);
}
main .navbar-section nav .navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
}
main .navbar-section nav .navbar-left .menu-bar-box .menu-bar {
  padding: 1rem;
  margin-left: 0.7rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  cursor: pointer;
}
main .navbar-section nav .navbar-left .menu-bar-box .menu-bar .bar {
  border-radius: 1rem;
  width: 2.188rem;
  height: 0.25rem;
  background-color: #fff;
  transition: 0.3s;
}
main .navbar-section nav .navbar-left__profile-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .navbar-section nav .navbar-left__profile-section--top {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .navbar-section nav .navbar-left__profile-section--top figure {
  position: relative;
  width: 3rem;
  height: 3rem;
}
main .navbar-section nav .navbar-left__profile-section--top figure .profile-notifications {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: red;
  font-weight: 400;
  font-size: 0.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__profile-section--top figure img {
  width: 100%;
  height: 100%;
}
main .navbar-section nav .navbar-left__profile-section--top .buy-chip-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
}
main .navbar-section nav .navbar-left__profile-section--top .buy-chip-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .navbar-section nav .navbar-left__profile-section--top .money-amount {
  font-weight: 500;
  font-size: 1.7rem;
  color: #FFCE61;
}
main .navbar-section nav .logo {
  padding: 0 0.5rem;
}
main .navbar-section nav .logo img {
  height: 6rem;
}
main .navbar-section nav .navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
main .navbar-section nav .navbar-right .hourly-money-button {
  width: 5rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  background-color: #DD034D;
  border-radius: 0.8rem;
  padding: 0.1rem;
  cursor: pointer;
  margin-left: 1rem;
  box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
}
main .navbar-section nav .navbar-right .hourly-money-button .first-word {
  font-weight: 400;
  font-size: 0.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button .second-word {
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button .third-word {
  font-weight: 400;
  font-size: 0.5rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button i {
  display: none;
}
main .navbar-section nav .navbar-right .vip-membership-button {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: #E6B424;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  color: #3C2C00;
  box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
}
main .navbar-section nav .navbar-right .vip-membership-button i {
  display: none;
}
main .navbar-section nav .navbar-right .tool-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .messages-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .messages-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .messages-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .settings-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .settings-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .settings-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .body-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
main .body-section .sidebar-desktop {
  z-index: 2;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(153.63deg, #013A17 11.99%, rgb(0, 117, 40) 97.9%);
  width: 6rem;
  transition: 0.3s;
}
main .body-section .sidebar-desktop .sidebar-top {
  background-color: #013917;
  display: none;
  border: 0.063rem solid #16813B;
}
main .body-section .sidebar-desktop .button-content-wrapper {
  width: 100%;
  height: 4.5rem;
}
main .body-section .sidebar-desktop .button-content-wrapper:not(:first-child) {
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.65);
}
main .body-section .sidebar-desktop .full-space {
  display: none;
}
main .body-section .sidebar-desktop .button-content-wrapper:last-child {
  margin-top: auto;
}
main .body-section .sidebar-desktop .sidebar-desktop--button {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  background: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.3s;
  cursor: pointer;
  border: none;
}
main .body-section .sidebar-desktop .sidebar-desktop--button div {
  width: 3rem;
  min-width: 3rem;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .body-section .sidebar-desktop .sidebar-desktop--button div i {
  color: #fff;
  transition: 0.3s;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}
main .body-section .sidebar-desktop .sidebar-desktop--button span {
  display: none;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  transition: 0.3s;
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover {
  filter: grayscale(0%) opacity(1);
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover div i {
  color: #fff;
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover span {
  color: #fff;
}
main .body-section .sidebar-desktop.open {
  width: 20rem;
}
main .body-section .sidebar-desktop.open .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
main .body-section .sidebar-desktop.open .sidebar-top .sidebar-name {
  font-weight: 500;
  font-size: 1.7rem;
  color: #FFCE61;
}
main .body-section .sidebar-desktop.open .sidebar-top .sidebar-exit-button {
  border: none;
  background: none;
  color: #FFCE61;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
}
main .body-section .sidebar-desktop.open button span {
  display: flex;
  white-space: nowrap;
  color: #fff;
}
main .body-section .sidebar-desktop.open .full-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .body-section .sidebar-desktop.open .full-space button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: rgba(8, 72, 175, 0.8);
  box-shadow: inset -4px -4px 2px rgba(59, 44, 0, 0.4);
  border: none;
  width: 9rem;
  height: 3rem;
  border-radius: 3rem;
  cursor: pointer;
}
main .body-section .sidebar-desktop.open .full-space button i {
  color: #fff;
  font-size: 1.3rem;
}
main .body-section .sidebar-desktop.open .full-space button span {
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
}
main .body-section__left {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 75%;
  margin-left: 6.4rem;
  transition: 0.3s;
}
main .body-section__left .tables-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
main .body-section__left .tables-container .tables-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
}
main .body-section__left .tables-container .tables-nav__top {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 0;
}
main .body-section__left .tables-container .tables-nav__top .player-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .body-section__left .tables-container .tables-nav__top .player-number__name {
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}
main .body-section__left .tables-container .tables-nav__top .player-number__number {
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
}
main .body-section__left .tables-container .tables-nav__bottom {
  display: flex;
  align-items: center;
}
main .body-section__left .tables-container .tables-nav__bottom--tools {
  display: flex;
  flex: 1;
  height: 2.4rem;
  padding: 0.1rem 0.2rem;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .halls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 100%;
  width: 7rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(rgb(64, 127, 89), rgb(18, 91, 47));
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .halls-button i {
  font-size: 0.8rem;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .halls-button span {
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .arrow-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .arrow-button i {
  font-size: 2rem;
  color: rgb(233, 197, 124);
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .play-now-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .play-now-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .open-table-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .open-table-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .body-section__left .tables-container .tables-nav__bottom--space {
  width: 3rem;
  height: 100%;
}
main .body-section__left .tables-container .tables {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-auto-rows: 12rem;
  overflow-y: auto;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.6rem;
  margin: 5.5rem 0.2rem 0.2rem 0.2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .body-section__left .tables-container .tables::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(1, 52, 1);
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__left .tables-container .tables::-webkit-scrollbar-thumb {
  background-color: #E6B424;
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__left .tables-container .tables .table {
  position: relative;
  background: linear-gradient(rgb(23, 70, 34), rgb(92, 175, 113));
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0.6rem;
  background: linear-gradient(336.61deg, rgba(16, 82, 33, 0.2) 23.74%, rgba(255, 255, 255, 0.144) 46.62%), linear-gradient(121.8deg, #174B24 4.58%, rgba(11, 124, 37, 0.56) 38.72%, rgba(63, 153, 85, 0.74) 96.68%);
  border: 1px solid #007A22;
  box-shadow: 0px 4px 11px 2px #134625;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .body-section__left .tables-container .tables .table-num {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .tables-container .tables .table .info {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
main .body-section__left .tables-container .tables .table .info .bet-info, main .body-section__left .tables-container .tables .table .info .pot-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .body-section__left .tables-container .tables .table .info .bet-info .bet, main .body-section__left .tables-container .tables .table .info .bet-info .pot, main .body-section__left .tables-container .tables .table .info .pot-info .bet, main .body-section__left .tables-container .tables .table .info .pot-info .pot {
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(114, 152, 130);
}
main .body-section__left .tables-container .tables .table .info .bet-info .bet-amount, main .body-section__left .tables-container .tables .table .info .bet-info .pot-amount, main .body-section__left .tables-container .tables .table .info .pot-info .bet-amount, main .body-section__left .tables-container .tables .table .info .pot-info .pot-amount {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}
main .body-section__left .tables-container .tables .table .one-on-one-button {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .tables-container .tables .table .one-on-one-button img {
  height: 1.5rem;
}
main .body-section__left .tables-container .tables .table .one-on-one-button div {
  display: flex;
  flex-direction: column;
}
main .body-section__left .tables-container .tables .table .one-on-one-button div span:first-child {
  font-size: 0.66rem;
}
main .body-section__left .tables-container .tables .table .gamer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .body-section__left .tables-container .tables .table .gamer figcaption {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
}
main .body-section__left .tables-container .tables .table .gamer img {
  width: 4rem;
  height: 4rem;
}
main .body-section__left .tables-container .tables .table .sit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .body-section__left .tables-container .tables .table .sit__button {
  width: 3.7rem;
  height: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(145, 96, 1);
  letter-spacing: 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  text-transform: uppercase;
}
main .body-section__left .chatting {
  height: 10rem;
  display: flex;
  width: 62rem;
  flex-direction: column;
}
main .body-section__left .chatting .tab-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tab {
  display: flex;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button, main .body-section__left .chatting .tab-box .tab .lobi-chat-button {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #D7970A;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button.active, main .body-section__left .chatting .tab-box .tab .lobi-chat-button.active {
  background-color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tabcontent {
  display: none;
  padding: 0.5rem;
  background-color: #011D0E;
  border-radius: 0.4rem 0.4rem 0.4rem 0;
}
main .body-section__left .chatting .tab-box .tabcontent.active {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tabcontent .message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name img {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name span {
  font-weight: 400;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tabcontent .message .word {
  font-weight: 200;
  font-size: 0.8re;
  color: #fff;
}
main .body-section__left .chatting .message-box {
  position: relative;
  height: 2rem;
}
main .body-section__left .chatting .message-box input {
  width: 100%;
  height: 100%;
  padding-left: 2.2rem;
  outline: none;
  border: none;
}
main .body-section__left .chatting .message-box .emojis-box {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  background-color: #D9D9D9;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button img {
  width: 1rem;
  height: 1rem;
}
main .body-section__left .chatting .message-box .send {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
main .body-section__left .chatting .message-box .send-button {
  width: 9rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.3rem;
  height: 100%;
  width: 6rem;
}
main .body-section__left .chatting .message-box .send-button:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .body-section__right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .body-section__right .people-tools__radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCE61;
  padding: 0.1rem 0.5rem;
}
main .body-section__right .people-tools__radio--buttons {
  display: flex;
  gap: 0.7rem;
}
main .body-section__right .people-tools__radio--buttons .play .play-button {
  width: 2rem;
  height: 2rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .play .play-button i {
  font-size: 1.2rem;
  transition: 0.3s;
}
main .body-section__right .people-tools__radio--buttons .play .play-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .play .play-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--buttons .prev-next {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button i {
  font-size: 0.7rem;
  transition: 0.3s;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button i {
  font-size: 0.7rem;
  transition: 0.3s;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--channel-name {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #4D3900;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .body-section__right .people-tools__category {
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .body-section__right .people-tools__category .your-friends, main .body-section__right .people-tools__category .last-played {
  flex-basis: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  color: #5C5C5C;
  text-align: left;
}
main .body-section__right .people-tools__category .your-friends.active, main .body-section__right .people-tools__category .last-played.active {
  color: #fff;
}
main .body-section__right .people-tools__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
main .body-section__right .people-tools__header .player {
  flex-basis: 52%;
  background-color: #1D4634;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.4rem;
  height: 2rem;
}
main .body-section__right .people-tools__header .table {
  flex: 1;
  background-color: #1D4634;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.4rem;
  height: 2rem;
}
main .body-section__right .people {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .body-section__right .people::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(1, 52, 1);
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__right .people::-webkit-scrollbar-thumb {
  background-color: #E6B424;
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__right .people .person {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #052B16;
  border: 0.4px solid rgba(255, 255, 255, 0.52);
}
main .body-section__right .people .person__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 52%;
}
main .body-section__right .people .person__info--img {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
}
main .body-section__right .people .person__info--img img {
  width: 2rem;
  height: 2rem;
  display: block;
}
main .body-section__right .people .person__info--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .body-section__right .people .person__info--text-name {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
main .body-section__right .people .person__info--text-money {
  font-weight: 500;
  font-size: 0.7rem;
  color: #FFCE61;
}
main .body-section__right .people .person__table {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

@media only screen and (max-width: 1230px) {
  main .navbar-section nav .navbar-right .chance-game-box .give-chance-button {
    width: 3rem;
    height: 3rem;
  }
  main .navbar-section nav .navbar-right .chance-game-box .give-chance-button span {
    display: none;
  }
  main .navbar-section nav .navbar-right .chance-game-box .give-chance-button i {
    display: inline;
  }
  main .navbar-section nav .navbar-left .my-money {
    flex-direction: column;
  }
  main .navbar-section nav .navbar-left .my-money .available-money {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1180px) {
  main .body-section__left .tables-container .tables {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1090px) {
  :root {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1035px) {
  main .navbar-section nav .navbar-left .cards {
    flex-direction: column;
  }
  main .navbar-section nav .navbar-left .cards .card-numbers {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 980px) {
  main .navbar-section nav .navbar-right .hourly-money-button {
    width: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-right .hourly-money-button .first-word, main .navbar-section nav .navbar-right .hourly-money-button .second-word, main .navbar-section nav .navbar-right .hourly-money-button .third-word {
    display: none;
  }
  main .navbar-section nav .navbar-right .hourly-money-button i {
    display: inline;
    font-size: 1.3rem;
  }
  main .navbar-section nav .navbar-right .vip-membership-button {
    width: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-right .vip-membership-button span {
    display: none;
  }
  main .navbar-section nav .navbar-right .vip-membership-button i {
    display: inline;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 920px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (max-width: 870px) {
  :root {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  main .body-section__left .tables-container .tables {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 12px;
  }
  main .body-section__left .tables-container .tables .table-num {
    font-size: 1.3rem;
  }
  main .body-section__left .tables-container .tables .table .sit__button {
    width: 4.5rem;
    height: 1.9rem;
    font-size: 1.2rem;
  }
  main .body-section__left .tables-container .tables .table .gamer img {
    width: 5rem;
    height: 5rem;
  }
  main .body-section__left .tables-container .tables .table .gamer figcaption {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 690px) {
  :root {
    font-size: 11px;
  }
}
@media only screen and (max-width: 595px) {
  :root {
    font-size: 10px;
  }
}
@media only screen and (max-width: 595px) {
  :root {
    font-size: 9px;
  }
}
@media only screen and (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    font-size: 7px;
  }
}/*# sourceMappingURL=style.css.map */