@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url(../assets/images/bg\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
main .navbar-section {
  width: 100%;
}
main .navbar-section nav {
  position: relative;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #011D0E;
  padding: 0.4rem 2rem;
}
main .navbar-section nav .mobile-nav {
  position: fixed;
  top: 10rem;
  left: -20rem;
  background: linear-gradient(153.63deg, rgb(56, 30, 57) -1.05%, #381E39 -1.04%, rgb(60, 13, 54) 97.9%);
  width: 20rem;
  height: 100%;
  transition: 0.3s;
  padding: 0 1.5rem;
}
main .navbar-section nav .mobile-nav__box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .navbar-section nav .mobile-nav__box button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  transition: 0.3s;
}
main .navbar-section nav .mobile-nav__box button i {
  font-size: 2rem;
  color: #fff;
}
main .navbar-section nav .mobile-nav__box button img {
  width: 2rem;
  height: 2rem;
}
main .navbar-section nav .mobile-nav__box button:hover {
  background-color: rgba(56, 30, 57, 0.9);
}
main .navbar-section nav .navbar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;
}
main .navbar-section nav .navbar-left__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 4rem;
}
main .navbar-section nav .navbar-left__top figure {
  position: relative;
  width: 4.3rem;
  height: 4.3rem;
}
main .navbar-section nav .navbar-left__top figure .profile-notifications {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__top figure img {
  width: 100%;
  height: 100%;
}
main .navbar-section nav .navbar-left__top .buy-chip {
  display: flex;
  align-items: center;
}
main .navbar-section nav .navbar-left__top .buy-chip .plus-button {
  background-color: #000;
  border: none;
  width: 2.3rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .navbar-section nav .navbar-left__top .buy-chip .plus-button img {
  width: 1.1rem;
  height: 1.1rem;
}
main .navbar-section nav .navbar-left__top .buy-chip .money-button {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  border-radius: 50%;
  transform: translateX(-0.3rem);
  background-color: #FFCE61;
}
main .navbar-section nav .navbar-left__top .buy-chip .money-button i {
  font-size: 1.3rem;
  color: #7ADC8A;
}
main .navbar-section nav .navbar-left__top .buy-chip .money-button .chip-notifications {
  position: absolute;
  top: 0;
  right: 0rem;
  font-weight: 400;
  font-size: 0.7rem;
  color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
}
main .navbar-section nav .navbar-left__top .available-money {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__top .card-window {
  width: 2.5rem;
  height: 2.5rem;
}
main .navbar-section nav .navbar-left__top .card-numbers {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
main .navbar-section nav .navbar-left__bottom .menu-bar {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
main .navbar-section nav .navbar-left__bottom .menu-bar .bar {
  width: 35px;
  height: 4px;
  background-color: #FFCE61;
  transition: 0.3s;
}
main .navbar-section nav .navbar-left__bottom--buttons {
  display: flex;
  gap: 1rem;
}
main .navbar-section nav .navbar-left__bottom--buttons button {
  width: 11rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.12rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 0.3rem;
}
main .navbar-section nav .navbar-left__bottom--buttons button:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .navbar-section nav .navbar-left__bottom--buttons button i {
  display: none;
}
main .navbar-section nav .logo img {
  width: 13rem;
}
main .navbar-section nav .navbar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;
}
main .navbar-section nav .navbar-right__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
main .navbar-section nav .navbar-right__top .chance-game-box {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button {
  background-color: #E6B424;
  width: 8.3rem;
  height: 100%;
  border-radius: 3rem;
  box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
  cursor: pointer;
  padding: 0.3rem 0;
}
main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button span {
  font-weight: 400;
  font-size: 1.15rem;
  color: #3C2C00;
}
main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button i {
  display: none;
}
main .navbar-section nav .navbar-right__top .chance-game-box .chance-game {
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 3rem;
  width: 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.8rem;
  border: 0.1rem solid #2B2D2C;
}
main .navbar-section nav .navbar-right__top .chance-game-box .chance-game__window {
  background-color: rgba(47, 47, 47, 0.74);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
}
main .navbar-section nav .navbar-right__top .chance-game-box .chance-game__window .chance-num {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
main .navbar-section nav .navbar-right__top .chance-game-box .chance-game__window .chance-num-5 {
  background-color: #E6B424;
}
main .navbar-section nav .navbar-right__top .chance-game-box .chance-game__window .chance-num-6 {
  background-color: #E6B424;
}
main .navbar-section nav .navbar-right__top .tool-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .navbar-section nav .navbar-right__top .tool-box .maximize-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right__top .tool-box .maximize-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right__top .tool-box .maximize-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right__top .tool-box .messages-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right__top .tool-box .messages-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right__top .tool-box .messages-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right__top .tool-box .settings-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right__top .tool-box .settings-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right__top .tool-box .settings-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right__bottom {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
main .navbar-section nav .navbar-right__bottom .open-table {
  width: 11rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.12rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 0.3rem;
}
main .navbar-section nav .navbar-right__bottom .open-table:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .navbar-section nav .navbar-right__bottom .open-table i {
  display: none;
}
main .navbar-section nav .navbar-right__bottom .play-now {
  width: 11rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.12rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 0.3rem;
}
main .navbar-section nav .navbar-right__bottom .play-now:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .navbar-section nav .navbar-right__bottom .play-now i {
  display: none;
}
main .body-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  padding-left: 1rem;
}
main .body-section__left {
  gap: 1rem;
  width: 58rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .body-section__left .tables {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.6rem;
}
main .body-section__left .tables .table {
  position: relative;
  width: 18rem;
  height: 10rem;
  background: linear-gradient(168.51deg, rgba(41, 110, 55, 0.86) 58.79%, rgba(27, 84, 41, 0) 92.44%);
  border: 0.1rem solid #FFCE61;
  box-shadow: 0px 4px 11px 2px rgba(255, 206, 97, 0.35);
  border-radius: 0.6rem;
}
main .body-section__left .tables .table-num {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: #FFCE61;
}
main .body-section__left .tables .table .info {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
main .body-section__left .tables .table .info .bet-info, main .body-section__left .tables .table .info .pot-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .body-section__left .tables .table .info .bet-info .bet, main .body-section__left .tables .table .info .bet-info .pot, main .body-section__left .tables .table .info .pot-info .bet, main .body-section__left .tables .table .info .pot-info .pot {
  font-weight: 600;
  font-size: 0.6rem;
  color: #fff;
}
main .body-section__left .tables .table .info .bet-info .bet-amount, main .body-section__left .tables .table .info .bet-info .pot-amount, main .body-section__left .tables .table .info .pot-info .bet-amount, main .body-section__left .tables .table .info .pot-info .pot-amount {
  font-weight: 600;
  font-size: 0.7rem;
  color: #fff;
}
main .body-section__left .tables .table .one-on-one-button {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.6rem;
  color: #FFCE61;
}
main .body-section__left .tables .table .one-on-one-button img {
  height: 1.1rem;
}
main .body-section__left .tables .table .one-on-one-button div {
  display: flex;
  flex-direction: column;
}
main .body-section__left .tables .table .gamer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .body-section__left .tables .table .gamer figcaption {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
}
main .body-section__left .tables .table .gamer img {
  width: 3rem;
  height: 3rem;
}
main .body-section__left .tables .table .gamer.gamer-1, main .body-section__left .tables .table .gamer.gamer-3 {
  width: 100%;
  left: 0;
}
main .body-section__left .tables .table .gamer.gamer-1 {
  top: 0.5rem;
}
main .body-section__left .tables .table .gamer.gamer-3 {
  bottom: 0.5rem;
}
main .body-section__left .tables .table .gamer.gamer-2 {
  left: 2.5rem;
  height: 100%;
  top: 0;
}
main .body-section__left .tables .table .sit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 2rem;
  top: 0;
}
main .body-section__left .tables .table .sit__button {
  width: 3.7rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #B40000;
  background-color: #FFCE61;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
main .body-section__left .chatting {
  height: 10rem;
  display: flex;
  flex-direction: column;
}
main .body-section__left .chatting .tab-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tab {
  display: flex;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button, main .body-section__left .chatting .tab-box .tab .lobi-chat-button {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #D7970A;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button.active, main .body-section__left .chatting .tab-box .tab .lobi-chat-button.active {
  background-color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tabcontent {
  display: none;
  padding: 0.5rem;
  background-color: #011D0E;
  border-radius: 0.4rem 0.4rem 0.4rem 0;
}
main .body-section__left .chatting .tab-box .tabcontent.active {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tabcontent .message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name img {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name span {
  font-weight: 400;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tabcontent .message .word {
  font-weight: 200;
  font-size: 0.8re;
  color: #fff;
}
main .body-section__left .chatting .message-box {
  position: relative;
  height: 2rem;
}
main .body-section__left .chatting .message-box input {
  width: 100%;
  height: 100%;
  padding-left: 2.2rem;
  outline: none;
  border: none;
}
main .body-section__left .chatting .message-box .emojis-box {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  background-color: #D9D9D9;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button img {
  width: 1rem;
  height: 1rem;
}
main .body-section__left .chatting .message-box .send {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
main .body-section__left .chatting .message-box .send-button {
  width: 11rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.12rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 0.3rem;
  height: 100%;
  width: 6rem;
}
main .body-section__left .chatting .message-box .send-button:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .body-section__right {
  width: 18rem;
  display: flex;
  flex-direction: column;
}
main .body-section__right .radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCE61;
  padding: 0.1rem 0.5rem;
}
main .body-section__right .radio__buttons {
  display: flex;
  gap: 0.7rem;
}
main .body-section__right .radio__buttons__play .play-button {
  width: 2rem;
  height: 2rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .radio__buttons__play .play-button i {
  font-size: 1.2rem;
  transition: 0.3s;
}
main .body-section__right .radio__buttons__play .play-button:hover {
  background-color: #fff;
}
main .body-section__right .radio__buttons__play .play-button:hover i {
  color: #000;
}
main .body-section__right .radio__buttons__prev-next {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
main .body-section__right .radio__buttons__prev-next .prev-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .radio__buttons__prev-next .prev-button i {
  font-size: 0.7rem;
  transition: 0.3s;
}
main .body-section__right .radio__buttons__prev-next .prev-button:hover {
  background-color: #fff;
}
main .body-section__right .radio__buttons__prev-next .prev-button:hover i {
  color: #000;
}
main .body-section__right .radio__buttons__prev-next .next-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
main .body-section__right .radio__buttons__prev-next .next-button i {
  font-size: 0.7rem;
  transition: 0.3s;
}
main .body-section__right .radio__buttons__prev-next .next-button:hover {
  background-color: #fff;
}
main .body-section__right .radio__buttons__prev-next .next-button:hover i {
  color: #000;
}
main .body-section__right .radio__channel-name {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #4D3900;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .body-section__right .friend-list {
  display: flex;
  flex: 1;
}
main .body-section__right .friend-list .people {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .body-section__right .friend-list .people__category {
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .body-section__right .friend-list .people__category .your-friends, main .body-section__right .friend-list .people__category .last-played {
  flex-basis: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  color: #5C5C5C;
  text-align: left;
}
main .body-section__right .friend-list .people__category .your-friends.active, main .body-section__right .friend-list .people__category .last-played.active {
  color: #fff;
}
main .body-section__right .friend-list .people__list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .body-section__right .friend-list .people__list--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}
main .body-section__right .friend-list .people__list--header .player {
  flex-basis: 52%;
  background-color: #1D4634;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.4rem;
  height: 2rem;
}
main .body-section__right .friend-list .people__list--header .table {
  flex: 1;
  background-color: #1D4634;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.4rem;
  height: 2rem;
}
main .body-section__right .friend-list .people__list--info {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
main .body-section__right .friend-list .people__list--info .person {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #052B16;
  border: 0.4px solid rgba(255, 255, 255, 0.52);
}
main .body-section__right .friend-list .people__list--info .person__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 52%;
}
main .body-section__right .friend-list .people__list--info .person__info--img {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
}
main .body-section__right .friend-list .people__list--info .person__info--img img {
  width: 2rem;
  height: 2rem;
  display: block;
}
main .body-section__right .friend-list .people__list--info .person__info--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .body-section__right .friend-list .people__list--info .person__info--text-name {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
main .body-section__right .friend-list .people__list--info .person__info--text-money {
  font-weight: 500;
  font-size: 0.7rem;
  color: #FFCE61;
}
main .body-section__right .friend-list .people__list--info .person__table {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

@media only screen and (max-height: 635px) {
  main .body-section__right .friend-list .people__list--info {
    max-height: 15rem;
  }
}
@media only screen and (max-height: 525px) {
  main .body-section__right .friend-list .people__list--info {
    max-height: 13rem;
  }
}
@media only screen and (max-height: 495px) {
  main .body-section__right .friend-list .people__list--info {
    max-height: 10rem;
  }
}
@media only screen and (max-width: 1335px) {
  main .navbar-section nav .navbar-left__top {
    justify-content: space-between;
    gap: initial;
  }
}
@media only screen and (max-width: 1130px) {
  :root {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1060px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (max-width: 990px) {
  :root {
    font-size: 13px;
  }
  main .navbar-section nav .mobile-nav {
    z-index: 2;
  }
  main .navbar-section nav .mobile-nav.change {
    left: 0;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-2 {
    opacity: 0;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-3 {
    transform: translate(0, -8px) rotate(47deg);
  }
  main .navbar-section nav .navbar-left__top figure {
    display: none;
  }
  main .navbar-section nav .navbar-left__top .buy-chip {
    display: none;
  }
  main .navbar-section nav .navbar-left__top .card-window {
    display: none;
  }
  main .navbar-section nav .navbar-left__top .card-numbers {
    display: none;
  }
  main .navbar-section nav .navbar-left__top {
    justify-content: center;
  }
  main .navbar-section nav .navbar-left__bottom {
    justify-content: space-between;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar {
    display: flex;
  }
  main .navbar-section nav .navbar-right__top .tool-box .settings-button {
    display: none;
  }
}
@media only screen and (max-width: 915px) {
  :root {
    font-size: 12px;
  }
}
@media only screen and (max-width: 845px) {
  main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0;
  }
  main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button span {
    display: none;
  }
  main .navbar-section nav .navbar-right__top .chance-game-box .give-chance-button i {
    display: inline;
  }
}
@media only screen and (max-width: 805px) {
  main .navbar-section nav .navbar-left__bottom--buttons button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-left__bottom--buttons button span {
    display: none;
  }
  main .navbar-section nav .navbar-left__bottom--buttons button i {
    display: inline;
  }
  main .navbar-section nav .navbar-right__bottom button.open-table, main .navbar-section nav .navbar-right__bottom button.play-now {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-right__bottom button span {
    display: none;
  }
  main .navbar-section nav .navbar-right__bottom .open-table i {
    display: inline;
    font-size: 2rem;
  }
  main .navbar-section nav .navbar-right__bottom .play-now i {
    display: inline;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 720px) {
  :root {
    font-size: 11px;
  }
}
@media only screen and (max-width: 650px) {
  :root {
    font-size: 10px;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar .bar {
    width: 30px;
    height: 3px;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-1 {
    transform: translate(0, 9px) rotate(-45deg);
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-2 {
    opacity: 0;
  }
  main .navbar-section nav .navbar-left__bottom .menu-bar.change .bar-3 {
    transform: translate(0, -8px) rotate(47deg);
  }
}
@media only screen and (max-width: 585px) {
  :root {
    font-size: 9px;
  }
}
@media only screen and (max-width: 530px) {
  :root {
    font-size: 8px;
  }
}
@media only screen and (max-width: 470px) {
  :root {
    font-size: 7px;
  }
}
@media only screen and (max-width: 415px) {
  :root {
    font-size: 6px;
  }
}
@media only screen and (max-width: 355px) {
  :root {
    font-size: 5px;
  }
}/*# sourceMappingURL=style.css.map */