@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@-webkit-keyframes hall-section-coming {
  0% {
    left: -50rem;
  }
  100% {
    left: 0;
  }
}
@keyframes hall-section-coming {
  0% {
    left: -50rem;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes hall-section-leaving {
  0% {
    left: 0;
  }
  100% {
    left: -50rem;
  }
}
@keyframes hall-section-leaving {
  0% {
    left: 0;
  }
  100% {
    left: -50rem;
  }
}
@-webkit-keyframes profile-box-coming {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes profile-box-coming {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@-webkit-keyframes profile-box-leaving {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@keyframes profile-box-leaving {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@-webkit-keyframes animation-bg-coming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-bg-coming {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animation-bg-leaving {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation-bg-leaving {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes profile-box-content-leaving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes profile-box-content-leaving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes profile-box-edit-coming {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes profile-box-edit-coming {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes profile-box-edit-leaving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes profile-box-edit-leaving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes profile-box-content-coming {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes profile-box-content-coming {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/bg\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-y: hidden;
}
main .animation-background {
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .animation-background.deactive {
  display: none;
}
main .animation-background.coming {
  -webkit-animation: animation-bg-coming 0.5s forwards;
          animation: animation-bg-coming 0.5s forwards;
}
main .animation-background.leaving {
  -webkit-animation: animation-bg-leaving 0.5s forwards;
          animation: animation-bg-leaving 0.5s forwards;
}
main .profile-box {
  width: 25rem;
  height: 50rem;
  transition: 0.2s;
  z-index: 12;
  position: absolute;
  top: 6rem;
  left: calc(50% - 12.5rem);
  background-color: #052B16;
  overflow-x: hidden;
}
main .profile-box.deactive {
  display: none;
}
main .profile-box.coming {
  -webkit-animation: profile-box-coming 0.2s forwards;
          animation: profile-box-coming 0.2s forwards;
}
main .profile-box.leaving {
  -webkit-animation: profile-box-leaving 0.2s forwards;
          animation: profile-box-leaving 0.2s forwards;
}
main .profile-box__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
main .profile-box__content.deactive {
  display: none;
}
main .profile-box__content.coming {
  -webkit-animation: profile-box-content-coming 0.3s forwards;
          animation: profile-box-content-coming 0.3s forwards;
}
main .profile-box__content.leaving {
  -webkit-animation: profile-box-content-leaving 0.3s forwards;
          animation: profile-box-content-leaving 0.3s forwards;
}
main .profile-box__content--menu {
  display: flex;
  align-items: center;
  background-color: #083A1F;
  padding: 2rem;
  gap: 2rem;
}
main .profile-box__content--menu .exit-profile-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  color: #FFCE61;
}
main .profile-box__content--menu .edit-profile-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  color: #FFCE61;
}
main .profile-box__content--body {
  overflow-y: auto;
  padding: 0 2rem 3rem 2rem;
  background-color: #052B16;
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .profile-box__content--body .personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
main .profile-box__content--body .personal-info--left {
  display: flex;
  align-items: center;
}
main .profile-box__content--body .personal-info--left .image-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
main .profile-box__content--body .personal-info--left .image-button__content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
main .profile-box__content--body .personal-info--left .image-button__content-wrapper img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: transparent;
}
main .profile-box__content--body .personal-info--left .image-button__content-wrapper i {
  background-color: transparent;
  z-index: 2;
  font-size: 1.4rem;
  color: #fff;
}
main .profile-box__content--body .personal-info--left .belonging-box {
  display: flex;
  flex-direction: column;
}
main .profile-box__content--body .personal-info--left .belonging-box .name {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 0.3rem;
}
main .profile-box__content--body .personal-info--left .belonging-box .coin {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
main .profile-box__content--body .personal-info--left .belonging-box .coin img {
  width: 2rem;
  height: 2rem;
}
main .profile-box__content--body .personal-info--left .belonging-box .coin span {
  font-weight: 400;
  font-size: 1.1rem;
  color: #FFCE61;
}
main .profile-box__content--body .game-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-top: 0.063rem solid rgba(255, 255, 255, 0.65);
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.65);
}
main .profile-box__content--body .game-info__left {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main .profile-box__content--body .game-info__left img {
  width: 1.9rem;
  height: 1.9rem;
}
main .profile-box__content--body .game-info__left .text {
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
}
main .profile-box__content--body .game-info__right .amount {
  font-weight: 500;
  font-size: 1.3rem;
  color: #FFCE61;
}
main .profile-box__edit {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
main .profile-box__edit.deactive {
  display: none;
}
main .profile-box__edit.coming {
  -webkit-animation: profile-box-edit-coming 0.3s forwards;
          animation: profile-box-edit-coming 0.3s forwards;
}
main .profile-box__edit.leaving {
  -webkit-animation: profile-box-edit-leaving 0.3s forwards;
          animation: profile-box-edit-leaving 0.3s forwards;
}
main .profile-box__edit--menu {
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  background-color: #083A1F;
}
main .profile-box__edit--menu .back-to-profile-content {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #FFCE61;
  font-size: 1.3rem;
  cursor: pointer;
}
main .profile-box__edit--body {
  overflow-y: auto;
  padding: 0 2rem 2rem 2rem;
  background-color: #052B16;
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .profile-box__edit--body form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main .profile-box__edit--body form .personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
main .profile-box__edit--body form .personal-info--left {
  display: flex;
  align-items: center;
}
main .profile-box__edit--body form .personal-info--left .image-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
main .profile-box__edit--body form .personal-info--left .image-button__content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
main .profile-box__edit--body form .personal-info--left .image-button__content-wrapper img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: transparent;
}
main .profile-box__edit--body form .personal-info--left .image-button__content-wrapper i {
  background-color: transparent;
  z-index: 2;
  font-size: 1.4rem;
  color: #fff;
}
main .profile-box__edit--body form .personal-info--left .belonging-box {
  display: flex;
  flex-direction: column;
}
main .profile-box__edit--body form .personal-info--left .belonging-box .name {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 0.3rem;
}
main .profile-box__edit--body form .personal-info--left .belonging-box .coin {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
main .profile-box__edit--body form .personal-info--left .belonging-box .coin img {
  width: 2rem;
  height: 2rem;
}
main .profile-box__edit--body form .personal-info--left .belonging-box .coin span {
  font-weight: 400;
  font-size: 1.1rem;
  color: #FFCE61;
}
main .profile-box__edit--body form .personal-info--right .edit-personal-info {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}
main .profile-box__edit--body form .gender-password-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
main .profile-box__edit--body form .gender-password-box .gender-box, main .profile-box__edit--body form .gender-password-box .password-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
main .profile-box__edit--body form .gender-password-box .gender-box select, main .profile-box__edit--body form .gender-password-box .gender-box input, main .profile-box__edit--body form .gender-password-box .password-box select, main .profile-box__edit--body form .gender-password-box .password-box input {
  outline: none;
  border: none;
  width: 100%;
  height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  padding: 0 0.3rem;
}
main .profile-box__edit--body form .upload-image-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main .profile-box__edit--body form .upload-image-box .image-label {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
main .profile-box__edit--body form .upload-image-box .upload-image-tools {
  width: 100%;
  height: 6rem;
  position: relative;
}
main .profile-box__edit--body form .upload-image-box .upload-image-tools label {
  border: 0.1rem solid #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.1rem 0.4rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  overflow-x: auto;
  white-space: nowrap;
}
main .profile-box__edit--body form .upload-image-box .upload-image-tools img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .profile-box__edit--body form .upload-image-box .upload-image-tools button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0.1rem solid #fff;
  cursor: pointer;
  padding: 0.1rem 0.4rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
main .profile-box__edit--body form .font-type {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 11rem;
}
main .profile-box__edit--body form .font-type label {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
main .profile-box__edit--body form .font-type select {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  outline: none;
  height: 1.5rem;
  border: none;
}
main .profile-box__edit--body form .nick-color, main .profile-box__edit--body form .font-color {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main .profile-box__edit--body form .nick-color label, main .profile-box__edit--body form .font-color label {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
main .profile-box__edit--body form .nick-color input, main .profile-box__edit--body form .font-color input {
  width: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
}
main .profile-box__edit--body form .save-reject {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
main .profile-box__edit--body form .save-reject .reject, main .profile-box__edit--body form .save-reject .save {
  background: none;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
}
main .profile-box__edit--body form .save-reject .save {
  background-color: rgb(17, 107, 253);
}
main .profile-box__edit--body form .save-reject .reject {
  background-color: rgb(108, 117, 126);
}
main .navbar-section {
  width: 100%;
}
main .navbar-section nav {
  background-image: url(../assets/images/navbar_background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
main .navbar-section nav .mobile-nav {
  position: fixed;
  top: 6rem;
  left: -20rem;
  background: linear-gradient(153.63deg, rgb(56, 30, 57) -1.05%, #381E39 -1.04%, rgb(60, 13, 54) 97.9%);
  width: 20rem;
  height: 100%;
  transition: 0.2s;
  padding: 0 1.5rem;
}
main .navbar-section nav .mobile-nav__box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
main .navbar-section nav .mobile-nav__box button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  padding: 1rem 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  transition: 0.2s;
}
main .navbar-section nav .mobile-nav__box button i {
  font-size: 2rem;
  color: #fff;
}
main .navbar-section nav .mobile-nav__box button img {
  width: 2rem;
  height: 2rem;
}
main .navbar-section nav .mobile-nav__box button:hover {
  background-color: rgba(56, 30, 57, 0.9);
}
main .navbar-section nav .navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  gap: 2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
}
main .navbar-section nav .navbar-left .menu-bar-box .menu-bar {
  padding: 1rem;
  margin-left: 0.7rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  cursor: pointer;
}
main .navbar-section nav .navbar-left .menu-bar-box .menu-bar .bar {
  border-radius: 1rem;
  width: 2.188rem;
  height: 0.25rem;
  background-color: #fff;
  transition: 0.2s;
}
main .navbar-section nav .navbar-left__profile-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main .navbar-section nav .navbar-left__profile-section--top {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
main .navbar-section nav .navbar-left__profile-section--top .profile-button {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: none;
  cursor: pointer;
  border: none;
}
main .navbar-section nav .navbar-left__profile-section--top .profile-button .profile-notifications {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: red;
  font-weight: 400;
  font-size: 0.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__profile-section--top .profile-button img {
  width: 100%;
  height: 100%;
}
main .navbar-section nav .navbar-left__profile-section--top .buy-chip-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .navbar-section nav .navbar-left__profile-section--top .buy-chip-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .navbar-section nav .navbar-left__profile-section--top #golden-coin {
  width: 3rem;
  height: 3rem;
}
main .navbar-section nav .navbar-left__profile-section--top .money-amount {
  font-weight: 500;
  font-size: 1.7rem;
  color: #FFCE61;
  margin-right: 0rem;
}
main .navbar-section nav .navbar-left__profile-section--top .coins {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}
main .navbar-section nav .navbar-left__profile-section--top .coins img {
  width: 3rem;
  height: 3rem;
}
main .navbar-section nav .navbar-left__profile-section--top .coins span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}
main .navbar-section nav .navbar-left__profile-section--bottom .experience-bar {
  display: flex;
  align-items: center;
  width: 17rem;
  height: 0.7rem;
  background-color: red;
  border-radius: 1rem;
  background-color: #EFEFEF;
  border: 0.063rem solid #FFFFFF;
}
main .navbar-section nav .navbar-left__profile-section--bottom .experience-bar .experience-level {
  width: 80%;
  height: 0.5rem;
  background-color: #920F0F;
  border-radius: 1rem;
}
main .navbar-section nav .logo {
  padding: 0 0.5rem;
  margin: 0 6rem;
  margin-top: 1.5rem;
}
main .navbar-section nav .logo img {
  height: 13rem;
}
main .navbar-section nav .navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex: 1;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
main .navbar-section nav .navbar-right .hourly-money-button {
  width: 6rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  background-color: #93036A;
  border-radius: 0.8rem;
  padding: 0.1rem;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
}
main .navbar-section nav .navbar-right .hourly-money-button .first-word {
  font-weight: 400;
  font-size: 0.6rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button .second-word {
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button .third-word {
  font-weight: 400;
  font-size: 0.5rem;
  color: #fff;
}
main .navbar-section nav .navbar-right .hourly-money-button i {
  display: none;
}
main .navbar-section nav .navbar-right .vip-membership-button {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  background-color: #E6B424;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 2px rgba(124, 92, 0, 0.4), inset -4px -4px 2px rgba(59, 44, 0, 0.4);
  font-weight: 400;
  font-size: 1.1rem;
  color: #3C2C00;
}
main .navbar-section nav .navbar-right .vip-membership-button i {
  display: none;
}
main .navbar-section nav .navbar-right .tool-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .maximize-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .messages-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .messages-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .messages-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .settings-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #010101;
  border: 0.1rem solid #333232;
  cursor: pointer;
}
main .navbar-section nav .navbar-right .tool-box .settings-button img {
  width: 1.3rem;
  height: 1.3rem;
}
main .navbar-section nav .navbar-right .tool-box .settings-button i {
  color: #fff;
  font-size: 1.3rem;
}
main .body-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}
main .body-section .hall-section {
  z-index: 12;
  background: linear-gradient(147.18deg, #18422A 10.2%, #06622F 25.91%, #08622F 55.86%, #07612E 78.28%, #054128 97.76%);
  width: 50rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
main .body-section .hall-section.deactive {
  display: none;
}
main .body-section .hall-section.coming {
  -webkit-animation: hall-section-coming 0.5s forwards ease-in-out;
          animation: hall-section-coming 0.5s forwards ease-in-out;
}
main .body-section .hall-section.leaving {
  -webkit-animation: hall-section-leaving 0.5s forwards ease-in-out;
          animation: hall-section-leaving 0.5s forwards ease-in-out;
}
main .body-section .hall-section .hall-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .body-section .hall-section .hall-container header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
main .body-section .hall-section .hall-container header h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}
main .body-section .hall-section .hall-container header button {
  background: none;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
main .body-section .hall-section .hall-container header button:hover {
  color: #FFCE61;
}
main .body-section .hall-section .hall-container header button:active {
  scale: 0.8;
}
main .body-section .hall-section .hall-container .hall-table-box table {
  width: 100%;
}
main .body-section .hall-section .hall-container .hall-table-box table thead {
  width: 100%;
}
main .body-section .hall-section .hall-container .hall-table-box table thead tr {
  border-radius: 0.5rem;
  display: flex;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
main .body-section .hall-section .hall-container .hall-table-box table thead tr th {
  flex: 1;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
main .body-section .hall-section .hall-container .hall-table-box table thead tr th img {
  width: 1.1rem;
  height: 1.1rem;
}
main .body-section .hall-section .hall-container .hall-table-box table thead tr th:not(:first-child) {
  padding-right: 1.5rem;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody {
  width: 100%;
  display: block;
  overflow: auto;
  height: 30rem;
  width: 100%;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr {
  transition: 0.2s;
  background-color: #052B16;
  display: flex;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  cursor: pointer;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr td {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr td img {
  width: 1.6rem;
  height: 1.6rem;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr td:not(:first-child) {
  padding-right: 1.5rem;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr:hover {
  background-color: #02190c;
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr.active {
  background: linear-gradient(180deg, #F7E097 0%, #F7A00C 100%);
}
main .body-section .hall-section .hall-container .hall-table-box table tbody tr.active td {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #052B16;
}
main .body-section .sidebar-desktop {
  z-index: 11;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(153.63deg, #013A17 11.99%, rgb(0, 117, 40) 97.9%);
  width: 6rem;
  transition: 0.2s;
}
main .body-section .sidebar-desktop .sidebar-top {
  background-color: #013917;
  display: none;
  border: 0.063rem solid #16813B;
}
main .body-section .sidebar-desktop .button-content-wrapper {
  width: 100%;
  height: 4.5rem;
}
main .body-section .sidebar-desktop .button-content-wrapper:not(:first-child) {
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.65);
}
main .body-section .sidebar-desktop .full-space {
  display: none;
}
main .body-section .sidebar-desktop .button-content-wrapper:last-child {
  margin-top: auto;
}
main .body-section .sidebar-desktop .sidebar-desktop--button {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  background: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}
main .body-section .sidebar-desktop .sidebar-desktop--button div {
  width: 3rem;
  min-width: 3rem;
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .body-section .sidebar-desktop .sidebar-desktop--button div i {
  color: #fff;
  transition: 0.2s;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}
main .body-section .sidebar-desktop .sidebar-desktop--button span {
  display: none;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  transition: 0.2s;
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover {
  filter: grayscale(0%) opacity(1);
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover div i {
  color: #fff;
}
main .body-section .sidebar-desktop .sidebar-desktop--button:hover span {
  color: #fff;
}
main .body-section .sidebar-desktop.open {
  width: 20rem;
}
main .body-section .sidebar-desktop.open .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
main .body-section .sidebar-desktop.open .sidebar-top .sidebar-name {
  font-weight: 500;
  font-size: 1.7rem;
  color: #FFCE61;
}
main .body-section .sidebar-desktop.open .sidebar-top .sidebar-exit-button {
  border: none;
  background: none;
  color: #FFCE61;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
}
main .body-section .sidebar-desktop.open button span {
  display: flex;
  white-space: nowrap;
  color: #fff;
}
main .body-section .sidebar-desktop.open .full-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .body-section .sidebar-desktop.open .full-space button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: rgba(8, 72, 175, 0.8);
  box-shadow: inset -4px -4px 2px rgba(59, 44, 0, 0.4);
  border: none;
  width: 9rem;
  height: 3rem;
  border-radius: 3rem;
  cursor: pointer;
}
main .body-section .sidebar-desktop.open .full-space button i {
  color: #fff;
  font-size: 1.3rem;
}
main .body-section .sidebar-desktop.open .full-space button span {
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff;
}
main .body-section__left {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 6.4rem;
  transition: 0.2s;
}
main .body-section__left .tables-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  width: 100%;
  transition: 0.2s;
  flex: 1;
}
main .body-section__left .tables-container.minimise {
  overflow-y: hidden;
}
main .body-section__left .tables-container .tables-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  overflow-y: hidden;
  box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -3px 34px 32px -24px rgba(0, 0, 0, 0.82);
  background-color: #052B16;
  border: 0.125 solid #000000;
  border-radius: 0.5rem;
}
main .body-section__left .tables-container .tables-nav__bottom {
  height: 100%;
  display: flex;
  align-items: center;
}
main .body-section__left .tables-container .tables-nav__bottom--tools {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0.1rem 0.2rem;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .halls-button {
  width: 9rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.3rem;
  height: 100%;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .halls-button:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .arrow-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .arrow-button i {
  font-size: 3rem;
  color: #C68F13;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .play-now-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .play-now-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .open-table-button {
  height: 100%;
  background: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  display: none;
}
main .body-section__left .tables-container .tables-nav__bottom--tools .table-nav-buttons .open-table-button i {
  font-size: 1.2rem;
  color: rgb(118, 69, 0);
}
main .body-section__left .tables-container .tables-nav__bottom--space {
  width: 3rem;
  height: 100%;
}
main .body-section__left .tables-container .tables {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 9rem;
  overflow-y: auto;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.6rem;
  margin: 4.5rem 0.2rem 0.2rem 0.2rem;
  padding: 0.1rem 1rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .body-section__left .tables-container .tables::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(1, 52, 1);
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__left .tables-container .tables::-webkit-scrollbar-thumb {
  background-color: #E6B424;
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__left .tables-container .tables .table {
  position: relative;
  background: linear-gradient(rgb(23, 70, 34), rgb(92, 175, 113));
  background: linear-gradient(336.61deg, rgba(16, 82, 33, 0.2) 23.74%, rgba(255, 255, 255, 0.144) 46.62%), linear-gradient(121.8deg, #174B24 4.58%, rgba(11, 124, 37, 0.56) 38.72%, rgba(63, 153, 85, 0.74) 96.68%);
  border: 1px solid #007A22;
  box-shadow: 0px 4px 11px 2px #134625;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .body-section__left .tables-container .tables .table-num {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .tables-container .tables .table .info {
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
main .body-section__left .tables-container .tables .table .info .bet-info, main .body-section__left .tables-container .tables .table .info .pot-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .body-section__left .tables-container .tables .table .info .bet-info .bet, main .body-section__left .tables-container .tables .table .info .bet-info .pot, main .body-section__left .tables-container .tables .table .info .pot-info .bet, main .body-section__left .tables-container .tables .table .info .pot-info .pot {
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(114, 152, 130);
}
main .body-section__left .tables-container .tables .table .info .bet-info .bet-amount, main .body-section__left .tables-container .tables .table .info .bet-info .pot-amount, main .body-section__left .tables-container .tables .table .info .pot-info .bet-amount, main .body-section__left .tables-container .tables .table .info .pot-info .pot-amount {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}
main .body-section__left .tables-container .tables .table .one-on-one-button {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .tables-container .tables .table .one-on-one-button img {
  height: 1.5rem;
}
main .body-section__left .tables-container .tables .table .one-on-one-button div {
  display: flex;
  flex-direction: column;
}
main .body-section__left .tables-container .tables .table .one-on-one-button div span:first-child {
  font-size: 0.66rem;
}
main .body-section__left .tables-container .tables .table .gamer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .body-section__left .tables-container .tables .table .gamer figcaption {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
}
main .body-section__left .tables-container .tables .table .gamer img {
  width: 4rem;
  height: 4rem;
}
main .body-section__left .tables-container .tables .table .sit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .body-section__left .tables-container .tables .table .sit__button {
  width: 3.7rem;
  height: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: rgb(145, 96, 1);
  letter-spacing: 0;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #FFCE61 0%, #B98000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  text-transform: uppercase;
}
main .body-section__left .chatting {
  height: 10rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: 0.2s;
}
main .body-section__left .chatting.maximise {
  height: calc(100% - 4rem - 0.5rem);
}
main .body-section__left .chatting .tab-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tab {
  display: flex;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button, main .body-section__left .chatting .tab-box .tab .lobi-chat-button {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  border: none;
  padding: 0.3rem 1rem;
  background-color: #D7970A;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
}
main .body-section__left .chatting .tab-box .tab .masa-chat-button.active, main .body-section__left .chatting .tab-box .tab .lobi-chat-button.active {
  background-color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tab .change-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
main .body-section__left .chatting .tab-box .tab .change-size i {
  display: inline;
  font-size: 2rem;
}
main .body-section__left .chatting .tab-box .tab .change-size.minimise .down-icon {
  display: none;
}
main .body-section__left .chatting .tab-box .tab .change-size.maximise .up-icon {
  display: none;
}
main .body-section__left .chatting .tab-box .tabcontent {
  display: none;
  padding: 0.5rem;
  background-color: #011D0E;
  border-radius: 0.4rem 0.4rem 0.4rem 0;
}
main .body-section__left .chatting .tab-box .tabcontent.active {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}
main .body-section__left .chatting .tab-box .tabcontent .message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name img {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}
main .body-section__left .chatting .tab-box .tabcontent .message .name span {
  font-weight: 400;
  font-size: 1rem;
  color: #FFCE61;
}
main .body-section__left .chatting .tab-box .tabcontent .message .word {
  font-weight: 200;
  font-size: 0.8re;
  color: #fff;
}
main .body-section__left .chatting .message-box {
  position: relative;
  height: 2rem;
}
main .body-section__left .chatting .message-box input {
  width: 100%;
  height: 100%;
  padding-left: 2.2rem;
  outline: none;
  border: none;
}
main .body-section__left .chatting .message-box .emojis-box {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  background-color: #D9D9D9;
}
main .body-section__left .chatting .message-box .emojis-box .emoji-button img {
  width: 1rem;
  height: 1rem;
}
main .body-section__left .chatting .message-box .send {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
main .body-section__left .chatting .message-box .send-button {
  width: 9rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #FFCE61;
  background-color: #083A1F;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.3rem;
  height: 100%;
  width: 6rem;
}
main .body-section__left .chatting .message-box .send-button:hover {
  color: #083A1F;
  background-color: #FFCE61;
}
main .body-section__right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .body-section__right .people-tools {
  display: flex;
  flex-direction: column;
}
main .body-section__right .people-tools__radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCE61;
  padding: 0.1rem 0.5rem;
  margin-right: 0.9rem;
  border-radius: 0.5rem;
}
main .body-section__right .people-tools__radio--buttons {
  display: flex;
  gap: 0.7rem;
}
main .body-section__right .people-tools__radio--buttons .play .play-button {
  width: 2rem;
  height: 2rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .play .play-button i {
  font-size: 1.2rem;
  transition: 0.2s;
}
main .body-section__right .people-tools__radio--buttons .play .play-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .play .play-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--buttons .prev-next {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button i {
  font-size: 0.7rem;
  transition: 0.2s;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .prev-next .prev-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  border: none;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button i {
  font-size: 0.7rem;
  transition: 0.2s;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button:hover {
  background-color: #fff;
}
main .body-section__right .people-tools__radio--buttons .prev-next .next-button:hover i {
  color: #000;
}
main .body-section__right .people-tools__radio--channel-name {
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #4D3900;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .body-section__right .people-tools__category {
  padding: 0.1rem 0.9rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .body-section__right .people-tools__category .your-friends, main .body-section__right .people-tools__category .last-played {
  flex-basis: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  background: linear-gradient(180deg, #2C7C4D 0%, rgba(13, 30, 20, 0) 100%);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}
main .body-section__right .people-tools__category .your-friends.active, main .body-section__right .people-tools__category .last-played.active {
  color: #fff;
  background: linear-gradient(180deg, #409C66 0%, rgba(64, 156, 102, 0) 100%);
}
main .body-section__right .people {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 0.5rem;
}
main .body-section__right .people::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgb(1, 52, 1);
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__right .people::-webkit-scrollbar-thumb {
  background-color: #E6B424;
  border-radius: 1rem;
  margin-left: 1rem;
}
main .body-section__right .people .person {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #052B16;
  border: 0.4px solid rgba(255, 255, 255, 0.52);
}
main .body-section__right .people .person__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-basis: 52%;
}
main .body-section__right .people .person__info--img {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  position: relative;
}
main .body-section__right .people .person__info--img #person-pic {
  width: 3rem;
  height: 3rem;
  display: block;
}
main .body-section__right .people .person__info--img .star-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
}
main .body-section__right .people .person__info--img .star-box .star-number {
  position: absolute;
  left: 0.3rem;
  bottom: 0.1rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: #000;
}
main .body-section__right .people .person__info--img .star-box img {
  width: 1.5rem;
  height: 1.5rem;
}
main .body-section__right .people .person__info--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .body-section__right .people .person__info--text-name {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}
main .body-section__right .people .person__info--text-money {
  font-weight: 500;
  font-size: 0.7rem;
  color: #FFCE61;
}
main .body-section__right .people .person__table {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

@media only screen and (max-width: 1360px) {
  main .navbar-section nav .logo {
    margin: 1.5rem 3rem 0 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 1240px) {
  main .navbar-section nav .navbar-right .hourly-money-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-right .hourly-money-button .first-word, main .navbar-section nav .navbar-right .hourly-money-button .second-word, main .navbar-section nav .navbar-right .hourly-money-button .third-word {
    display: none;
  }
  main .navbar-section nav .navbar-right .hourly-money-button i {
    display: inline;
    font-size: 1.3rem;
  }
  main .navbar-section nav .navbar-right .vip-membership-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  main .navbar-section nav .navbar-right .vip-membership-button span {
    display: none;
  }
  main .navbar-section nav .navbar-right .vip-membership-button i {
    display: inline;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1180px) {
  main .body-section__left .tables-container .tables {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1130px) {
  :root {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1060px) {
  :root {
    font-size: 14px;
  }
  main .navbar-section nav .navbar-left {
    gap: 1rem;
  }
  main .navbar-section nav .logo {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 920px) {
  :root {
    font-size: 13px;
  }
}
@media only screen and (max-width: 830px) {
  :root {
    font-size: 12px;
  }
  main .body-section__left .tables-container .tables {
    grid-template-columns: 1fr;
    grid-auto-rows: 13rem;
  }
}
@media only screen and (max-width: 770px) {
  :root {
    font-size: 11px;
  }
  main .navbar-section nav .logo {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 690px) {
  :root {
    font-size: 10px;
  }
}
@media only screen and (max-width: 620px) {
  :root {
    font-size: 9px;
  }
}
@media only screen and (max-width: 560px) {
  :root {
    font-size: 8px;
  }
}
@media only screen and (max-width: 560px) {
  :root {
    font-size: 7px;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    font-size: 6px;
  }
}
@media only screen and (max-width: 370px) {
  :root {
    font-size: 5px;
  }
}
@media only screen and (max-height: 650px) {
  main .profile-box {
    height: 75%;
  }
}
@media only screen and (max-height: 500px) {
  main .body-section__left .tables-container .tables {
    grid-auto-rows: 9rem;
  }
}
@media only screen and (max-height: 400px) {
  main .profile-box {
    height: 70%;
  }
}
@media only screen and (max-height: 330px) {
  main .profile-box {
    height: 65%;
  }
}/*# sourceMappingURL=style.css.map */